body {
    background: #666;
    font-family: Helvetica,Arial,Sans-Serif;
    color: black;
    margin: 1em 2em 1em 2em;
}


a:link {
    color: #10e010;
}
a:visited {
    color: #06a006;
}
a:hover {
    color: #20ff20;
}
a:active {
    color: #10e010;
}


#stoc {
    color: #10e010;
    width: 90%;
    border: solid 2px #06a006;
    margin: 0px auto;
}

#stoc li {
    display: inline;
    list-style-type: none;
    padding-right: 2em;
}


#stoc .selected {
    font-weight: bold;
}

#stoc .selected a:link {
    text-decoration:none;
    color: #20ff20;
}

#stoc .selected a:visited {
    text-decoration:none;
    color: #20ff20;
}

/*#stoc .selected a:hover {
    color: #10e010;
}*/

#stoc .selected a:active {
    text-decoration:none;
    color: #20ff20;
}

